.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    justify-content: center;
    background-color: rgb(189, 181, 237);
} 
.name {
    border: 1px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    border-color: black;
    width: 25%;
    height: 1em;
    border-radius: 5px;
    font-size:large;
    font-weight:bold;
    
}

.posts {
    border: 1px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    border-color: black;
    width: 75%;
    height: 10em;
    border-radius: 5px;
    text-align:left;
}

.like {
    text-align:center;
    padding-top: 5px;
}